@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}


/* =========================
   HTML
========================= */

html {
  width: 100%;
  min-height: 100%;

  background: #090910;
}


/* =========================
   BODY
========================= */

body {
  width: 100%;
  min-height: 100vh;

  margin: 0;

  font-family: "Poppins", sans-serif;

  background: #090910;

  color: #ffffff;
}


/* =========================
   ROOT
========================= */

#root {
  width: 100%;
  min-height: 100vh;

  background: transparent;
}